*.un~
AUTHORS~
ChangeLog~
README~
NEWS~
INSTALL~
xIrcServerList.cpp~
README - Shortcut.lnk
moc_*
*.o
*~
Makefile
channeldialog.cpp
channeldialog.h
kickmsgdialog.cpp
kickmsgdialog.h
nicknameform.cpp
nicknameform.h
quitform.cpp
quitform.h
serverconnectdialog.cpp
serverconnectdialog.h
servereditdialog.cpp
servereditdialog.h
xIrc
peopleedit.cpp
peopleedit.h
