.*.un~
.*.swp
.*h~
*.cpp~
moc*
.gitignore~
*.h~
*.o
*.so*
*.m4
*.0
autom4te.cache/requests
d2utmpKp1hnh
*.log
*.status
libX++/configure
*.in
libX++/autom4te.cache/requests
libX++/Makefile
libX++/Makefile
libX++/Makefile
Makefile
